version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=http://backend:8000

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - sqlite_data:/app/data


  immudb:
    image: codenotary/immudb:latest
    container_name: immudb
    command: ["--auth"]
    ports:
      - "8080:8080"   #  Web Console immudb
      - "3322:3322"   #  immudb gRPC
    volumes:
      - immudb_data:/var/lib/immudb

# tests:
#   build:
#     context: ./backend
#     dockerfile: Dockerfile
#
#   # Commande qui lançait pytest automatiquement
#   # command: pytest -v
#
#   # Dépendances (API + immudb)
#   depends_on:
#     - backend
#     - immudb
#
#   # Variables d’environnement immudb pour les tests
#   environment:
#     - IMMUDB_HOST=immudb
#     - IMMUDB_PORT=3322
#     - IMMUDB_USER=immudb
#     - IMMUDB_PASSWORD=immudb
#
#   # Volumes montés pour exécuter les tests
#   volumes:
#     - ./backend:/app
#     - sqlite_data:/app/data


volumes:
  sqlite_data:
  immudb_data:

